.header__logo {
  width: 103.74px;
  height: 24.4px;
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 31.6px;
  user-select: none;
}

@media all and (min-width: 918px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-top: 45px;
    margin-left: 0;
    margin-bottom: 41px;
  }
}
