.footer__copyright {
  color: #545454;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media all and (min-width: 918px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}
